*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    
}

body {
    background-color: rgb(53, 52, 52);
    color: cornsilk;
}

img {
    max-width:  100px;
    max-height: 100px;
}

nav {
    padding: 2%;
    text-align: center;
    color: cornsilk;
}

nav ul li{
    padding: 2%;
    padding-bottom: 5%;
    padding-left: 4%;
    padding-right: 4%;
    display: inline-block;
    font-size: xx-large;
    
}

a{
    justify-content: center;
    color: cornsilk;
    text-decoration: none;
}

.article {
 padding-top: 5%;
 padding-bottom: 5%;
}

 #python_logo {
    min-width: 300px;
    min-height: 300px;
} 

footer{
    padding-bottom: 2%;
}