:root{
    --text-color: cornsilk;
    --img-px-size: 100px;
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    margin-left: .15%;
    
}

body {
    background-color: rgb(53, 52, 52);
    color: var(--text-color);
}

img {
    opacity: 55%;
    transition: opacity 1s;
    max-width:  var(--img-px-size);
    max-height: var(--img-px-size);
    min-width: var(--img-px-size);
    min-height: var(--img-px-size);
}

img:hover{
    opacity: 100%;
}

#python_logo {
    min-width: 300px;
    min-height: 300px;
} 

#solidity_logo{
    padding-left: 10px;
    min-width: 1px;
    min-height: var(--img-px-size);
    max-width: none;
    max-height: var(--img-px-size);
}

header {
    padding: 2%;
    text-align: center;
    color: var(--text-color);
}

header ul li{
    padding: 2%;
    padding-bottom: 5%;
    display: inline-block;
    font-size: xx-large;
    text-decoration: underline;
    
    
}

a{
    justify-content: center;
    color: var(--text-color);
    text-decoration: none;
    transition: font-size .5s;
}

a:hover{
    font-size: 110%;
}

.article {
 padding-top: 5%;
 padding-bottom: 5%;
}

footer{
    padding-bottom: 2%;
    text-align: center;
}

footer span{
    font-size: 80%;
}